*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
}

a{
    color: inherit;
    text-decoration: none;
}

a:visited{
    color: inherit;
}


/* MAIN CONTAINER */

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh auto 20vh;
    grid-template-areas: 
    "header"
    "article"
    "footer";
    
    overflow: hidden;
    margin: 0 auto;
    }
    
    
    /* header */
    
    #header{
        width: 100vw;
        min-height: 20vh;
        background-color: black;
    
        grid-area: header;
    }
    
    
    
    nav{
      
        color: white;
        height: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
    }
    
    
    .nav-ul{
        list-style-type: none;
        width: 100vw;
        height: 50vh;
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(10rem);
        background-color: white;
        margin: 2rem auto;
        /*clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
        --wekbkit-clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);*/
        clip-path: circle(0px);
        --wekbkit-clip-path: circle(0px);
        opacity: 98%;
        transition: all 1s ease-in;
    }
    
    .nav-ul.open{
        /*
        -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        */
        clip-path: circle(850px);
        --wekbkit-clip-path: circle(850px);
        height: 130vh;
        z-index: 50;
    }
    
    .nav-ul li{
    color: black;
    transform: translateX(-1rem);
    }
    
    .chessencials-li{
        padding-bottom: 5rem;
    }
    
    .chesstrends-li{
        padding-top: 5rem;
    }
    
    
    .fa-bars{
        transform: scale(1.2);
        cursor: pointer;
        z-index: 70;
        color: grey;
       
    }
    
    .nav-logo{
        display: inline;
        max-width: 40vw;
        max-height: 10vh;
        padding-top: 1rem;
    }
    

    /* MAIN */

#main{
    width: 100vw;
}

/* CAN YOU CANCEL ARTICLE */

.nft-art{
    width: 100vw;
    min-height: auto;
    background-color: black;
    color: white;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin: 0 0;
    grid-area: article;
    padding-bottom: 2rem;
    text-align: center;
}

.nft-h1{
        
    color: white;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 2rem;
    margin: 0rem auto 0rem auto;
    font-size: 3rem;
    grid-area: headline;
}

.nft-p{
    max-width: 90vw;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style:italic;
    margin: 0rem auto 2rem auto;
    font-size: 1.2rem;
    text-align: center;

}



/* ORIGINAL SIN */ 

/* img AND text */

.pawn-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 90%;
    height: auto;
    margin: 5rem auto;
}

/* original sin text */

.original-sin{
font-size: 3rem;
}

/* img container */

.img-cont{
    width: 80vw;
    height: 50vh;
    overflow: hidden;
    margin: 2rem auto 2rem auto;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* images inside */

.img-inside{
    display: block;
    max-width: 15rem;
    min-height: 40vh;
    position: absolute;
    border-radius: 50%;
    border: none;
}

/* first animation */

@keyframes example1 {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.number5{
    
    animation: example1; 
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.number4{
    
    animation: example1; 
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;

}

.number3{
    
    animation: example1; 
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    
}


/* second animation */ 


@keyframes example2 {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.number10{
    
    animation: example2; 
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
    
}

.number8{
    
    animation: example2; 
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
    
}

.number6{
    
    animation: example2; 
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
    
}

/* FIRST HR */

.first-hr{
    width: 50%;
    height: 0.1rem;
    margin: 2rem auto;
}


/* FORBIDDEN NUMBER */

/* picture and text */

.numb-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 90%;
    height: auto;
    margin: 5rem auto;
}


/* text */

.forbidden-num{

    font-size: 3rem;


}

/* image container */

.nummer{
    width: 80vw;
    height: 50vh;
    overflow: hidden;
    margin: 2rem auto 2rem auto;

    display: flex;
    align-items: center;
    justify-content: center;
 
}


/* images inside */

.img-nummer-ins{
    display: block;
    max-width: 15rem;
    min-height: 40vh;
    position: absolute;
    border-radius: 50%;
    border: none;
}

 /* FOOTER */

 .footer{
  
    width: 100vw;
    max-height: 20vh;
    margin: 0rem 0;
    background-color: white;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    font-size: 1.5rem;
    color: black;
}

.rights-footer{
    font-size: 1rem;
}


/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media screen and (min-width: 700px){

    /* CONTAINER */
    
    
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh auto 20vh;
        grid-template-areas: 
        "header"
        "article"
        "footer";
        
        overflow: hidden;
        margin: 0 auto;
        }


/* HEADER */

nav{
    color: white;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.nav-logo{
    display: inline;
    max-width: 25vw;
    max-height: 10vh;
    padding-top: 0.6rem;

}
.nav-ul{
    list-style-type: none;
    max-width: 60vw;
    height: 4rem;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    clip-path: none;
    --webkit-clip-path: none;
    transition: none;
    background-color: transparent;
    color: white;
    opacity: 100%;
  
    transform: translateY(0rem);
    margin: 0rem 0rem 0rem 0rem;

}


.fa-bars{
    display: none;
}
.nav-ul.open{
    display: none;
}
.nav-ul li{
    color: white;
    transform: none;
    font-size: 1rem;
    }
    
.chessencials-li{
        padding-bottom: 0rem;
    }
    
.chesstrends-li{
        padding-top: 0rem;
    }

/* MAIN */

/* nft ARTICLE */

.nft-art{
    width: 100vw;
    min-height: auto;
    background-color: black;
    color: white;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin: 0 0;
    grid-area: article;

}

.nft-h1{
    
    margin: 0 auto 2rem auto;
    font-size: 4rem;
    padding-top: 5rem;
}

.nft-p{
    max-width: 85vw;
    margin: 0rem auto 2rem auto;
    font-size: 1.5rem;
    text-align: center;
    
}


/* ORIGINAL SIN */ 

/* img AND text */

.pawn-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 90%;
    height: auto;
    margin: 5rem auto;
}

/* original sin text */

.original-sin{
font-size: 3rem;
}

/* img container */

.img-cont{
    width: 80vw;
    height: 50vh;
    overflow: hidden;
    margin: 2rem auto 2rem auto;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* images inside */

.img-inside{
    display: block;
    max-width: 25rem;
    min-height: 45vh;
    position: absolute;
    border-radius: 50%;
    border: none;
}

/* first animation */

@keyframes example1 {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.number5{
    
    animation: example1; 
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.number4{
    
    animation: example1; 
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;

}

.number3{
    
    animation: example1; 
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    
}


/* second animation */ 


@keyframes example2 {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.number10{
    
    animation: example2; 
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
    
}

.number8{
    
    animation: example2; 
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
    
}

.number6{
    
    animation: example2; 
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
    
}

/* FIRST HR */

.first-hr{
    width: 50%;
    height: 0.1rem;
    margin: 2rem auto;
}


/* FORBIDDEN NUMBER */

/* picture and text */

.numb-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 90%;
    height: auto;
    margin: 5rem auto;
}


/* text */

.forbidden-num{

    font-size: 3rem;


}

/* image container */

.nummer{
    width: 80vw;
    height: 50vh;
    overflow: hidden;
    margin: 2rem auto 2rem auto;

    display: flex;
    align-items: center;
    justify-content: center;
 
}


/* images inside */

.img-nummer-ins{
    display: block;
    max-width: 25rem;
    min-height: 45vh;
    position: absolute;
    border-radius: 50%;
    border: none;
}


  /* FOOTER */

  .footer{
  
    width: 100vw;
    max-height: 20vh;
    margin: 0rem 0;
    background-color: white;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    font-size: 1.5rem;
    color: black;
}

.rights-footer{
    font-size: 1rem;
}

}


/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media screen and (min-width: 1100px){

    /* CONTAINER */
    
    
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh auto 20vh;
        grid-template-areas: 
        "header"
        "article"
        "footer";
        
        overflow: hidden;
        margin: 0 auto;
        }


/* HEADER */

nav{
    color: white;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.nav-logo{
    display: inline;
    max-width: 25vw;
    max-height: 10vh;
    padding-top: 1.5rem;

}
.nav-ul{
    list-style-type: none;
    max-width: 60vw;
    height: 4rem;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    clip-path: none;
    --webkit-clip-path: none;
    transition: none;
    background-color: transparent;
    color: white;
    opacity: 100%;

    transform: translateY(0rem);
    margin: 0rem 0rem 0rem 0rem;

}


.fa-bars{
    display: none;
}
.nav-ul.open{
    display: none;
}
.nav-ul li{
    color: white;
    transform: none;
    font-size: 1rem;
    }
    
.chessencials-li{
        padding-bottom: 0rem;
    }
    
.chesstrends-li{
        padding-top: 0rem;
    }

/* MAIN */

/* nft ARTICLE */

.nft-art{
    width: 100vw;
    min-height: auto;
    background-color: black;
    color: white;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin: 0 0;
    grid-area: article;

}

.nft-h1{
    
    margin: 0 auto 0rem auto;
    font-size: 5rem;
    padding-top: 5rem;
}

.nft-p{
    max-width: 85vw;
    margin: 0rem auto 5rem auto;
    font-size: 2rem;
    text-align: center;
 
}


/* ORIGINAL SIN */ 

/* img AND text */

.pawn-txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 60vw;
    height: 50vh;
    margin: 10rem auto 5rem auto;
}


/* original sin text */

.original-sin{
    font-size: 3rem;
    margin: 0 auto;
}

/* img container */

.img-cont{
    width: 40vw;
    height: 50vh;
    overflow: hidden;
    margin: 2rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* images inside */

.img-inside{
    display: block;
    max-width: 25rem;
    min-height: 45vh;
    position: absolute;
    border-radius: 50%;
    border: none;
}

/* first animation */

@keyframes example1 {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.number5{
    
    animation: example1; 
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.number4{
    
    animation: example1; 
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;

}

.number3{
    
    animation: example1; 
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    
}


/* second animation */ 


@keyframes example2 {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.number10{
    
    animation: example2; 
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
    
}

.number8{
    
    animation: example2; 
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
    
}

.number6{
    
    animation: example2; 
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
    
}

/* FIRST HR */

.first-hr{
    width: 50%;
    height: 0.1rem;
    margin: 2rem auto;
}


/* FORBIDDEN NUMBER */

/* picture and text */

.numb-txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 60vw;
    height: 50vh;
    margin: 5rem auto;
    transform: translateX(0.5rem);
}


/* text */

.forbidden-num{

    font-size: 3rem;
    margin: 0 auto;

}

/* image container */

.nummer{
    width: 70vw;
    height: 50vh;
    overflow: hidden;
    margin: 2rem auto 2rem auto;

    display: flex;
    align-items: center;
    justify-content: center;
 
}


/* images inside */

.img-nummer-ins{
    display: block;
    max-width: 25rem;
    min-height: 45vh;
    position: absolute;
    border-radius: 50%;
    border: none;
}





  /* FOOTER */

  .footer{
  
    width: 100vw;
    max-height: 20vh;
    margin: 0rem 0;
    background-color: white;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    font-size: 1.5rem;
    color: black;
}

.rights-footer{
    font-size: 1rem;
}

}

