*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
}

/* MAIN CONTAINER */

.container{
display: grid;

grid-template-columns: 1fr;
grid-template-rows: 100vh 110vh 110vh 100vh 30vh;
grid-template-areas: 
"header"
"main"
"main"
"main"
"footer";

overflow: hidden;
margin: 0 auto;
}


/* header */

#header{
    width: 100vw;
    min-height: 100vh;
    background-color: black;

    grid-area: header;
}



nav{
  
    color: white;
    height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.nav-ul{
    list-style-type: none;
    max-width: 50vw;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;
}

.nav-logo{
    display: inline;
    max-width: 50vw;
    max-height: 10vh;
    margin-left: 2rem;
}

.chesspressionism-h1{
    
    color: white;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    min-height: 10vh;
    margin: 10rem auto 2rem auto;
    font-size: 2.5rem;
}



/* MAIN */

#main{
    width: 100vw;
    min-height: 300vh;
    background-color: white;
    grid-area: main;

}

/* CHESSENCIALS ARTICLE */

.chessencials-art{
    width: 100vw;
    min-height: 110vh;
    background-color: white;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    grid-area: chessencials;
}



.dictionary-h2{
    min-height: 5vh;
    margin: 0 auto 0rem auto;
    font-size: 2.5rem;
    padding-top: 8rem;
}

.dictionary-p{
    max-width: 90vw;
    height: 5vh;
    margin: 1rem auto 2rem auto;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 2rem;
}

.chessencials-vertical{
    display: inline;
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: upright;
    transform: translate(-9.5rem, 3rem);
    background-color: grey;
    color: white;
    opacity: 50%;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
}

.dictionary-img{
    display: block;
    max-width: 70vw;
    max-height: 50vh;
    margin: 3rem auto 10rem auto;
    border: 1px solid black;
}

.dictionary-img-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dictionary-btn{
 position: absolute;
 transform: translateY(8rem);
 font-size: 1.5rem;
 font-family: ador-hairline, sans-serif;
 font-weight: 200;
 font-style: normal;
}

/* CHESSOTERIC ARTICLE */

.chessoteric-art{
    width: 100vw;
    min-height: 110vh;
    background-color: black;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    grid-area: chessoteric;
}



.shannon-h2{
    min-height: 5vh;
    margin: 0 auto 0rem auto;
    font-size: 2.5rem;
    padding-top: 8rem;
    color: white;
}

.shannon-p{
    max-width: 90vw;
    height: 5vh;
    margin: 1rem auto 2rem auto;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 2rem;
    color: white;
}

.shannon-img{
    display: block;
    max-width: 70vw;
    max-height: 50vh;
    margin: 3rem auto 1rem auto;
    border: 1px solid white;
    
}

.shannon-img-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.shannon-btn{
 position: absolute;
 transform: translateY(6.5rem);
 font-size: 1.5rem;
 font-family: ador-hairline, sans-serif;
 font-weight: 200;
 font-style: normal;
}

/* CHESSTRENDS ARTICLE */

.chesstrends-art{
    width: 100vw;
    min-height: 110vh;
    background-color: white;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin: 0 auto;

    grid-area: chesstrends;
}



.trends-h2{
    min-height: 5vh;
    margin: 0 auto 0rem auto;
    font-size: 2.5rem;
    padding-top: 8rem;
    color: black;
}

.trends-p{
    max-width: 90vw;
    height: 5vh;
    margin: 1rem auto 2rem auto;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 2rem;
    color: black;
}

.trends-img{
    display: block;
    max-width: 70vw;
    max-height: 50vh;
    margin: 3rem auto 1rem auto;
    border: 1px solid black;
    
}

.trends-img-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.trends-btn{
 position: absolute;
 transform: translateY(9rem);
 font-size: 1.5rem;
 font-family: ador-hairline, sans-serif;
 font-weight: 200;
 font-style: normal;
}

/* FOOTER */

.footer{
  
    width: 100vw;
    min-height: 30vh;
    margin: 0rem auto 0rem auto;
    background-color: #EFEFEF;
    font-family: ador-hairline, sans-serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    font-size: 1.5rem;
}

.rights-footer{
    font-size: 1rem;
}